.count-down-timer {
  box-shadow: 2px 6px 9px 2px rgb(0 0 0 / 20%);
  text-align: center;
  background-color: var(--themcolor);
  color: white;
  border-radius: 6px;
  padding: 10px;
}

.count-down-timer p {
  margin: 5px 0 15px 0;
}


.wrapper .description, .times {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 8px));
  grid-column-gap: 10px;
}

.wrapper .description p {
  font: normal 14px sans-serif;
}

.wrapper .times p {

  letter-spacing: -5px;
  font: normal 50px courier, sans-serif;
}
.download{
  outline: none;
  border: none;
  background: var(--them-color-lite);
  padding: 7px;
  font-family: 'Roboto', serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 42%;
}
