.ng-star-inserted{
  width: 49%;
  padding: 2px;
}
a{
  color: white;
  font-size:15px;
  text-decoration: none;
  margin: 13px;
}
mat-card{
  background-color: #0c1228;
  margin: 0 auto;
  width: 50%;
  opacity: 90%;
  /*height: 100%;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-card-title{
  color: white;
  padding-bottom: 20px;
}
mat-label{
  color: #0c1228;
}
button{
  width: 48.5%;
  display: inline-block;
}
.name{
  width: 49%;
}
body{
  padding-top: 130px;
  background-image: url(../../../../assets/images/choosing-bg.jpg);
  height: auto;

}
.example-full-width{
  height:70px;
}
mat-radio-group{
  background-color: white;
  display: inline-block;
  width: 99%;
  margin-bottom: 20px;
}
.signup{
  width: 99%;
}

a{
  cursor: pointer;
}
