*{
  margin:0;
  padding:0;
}


/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}





ul{
  padding:0;
}
body{
  margin:0;
  padding:0;


}
.container{
  width:100%;
  box-sizing: border-box;
  padding-top: var(--headerfoterh);
  overflow-x:hidden; ;
}


.sidebar{
  width:230px;
  background-color: rgba(22,34,57,1);
  min-height:calc(100vh - var(--headerfoterh));
  height:100%;
  position:fixed;
  transition:.5s;

  transform:translateX(0px);

}
.sidebar-wrapper{
  position:absolute;
  height:calc(100vh - var(--headerfoterh));
  overflow-y: scroll;
  transform:translateX(0px);

}
.show-sidebar{
  transform:translateX(-230px);
}
.show-sidebar-wrapper{
  transform:translateX(-230px);
}
.right-body{
  background-color:lightgray;
  width:calc(100% - 240px);
  min-height:calc(100vh - var(--headerfoterh) - var(--headerfoterh));
  padding-left: calc(230px + 10px);
  padding-top: 10px;
  transition: .5s;

}
.no-padding{
  padding-left:10px;
  transition:.5s;
  width: calc(100% - 10px);
}
.fa-user{
  color: #ffffff;
  font-size: 20px;
}
.padding{
  padding-left:0;
}
.icon{
  width: 15px;;
}
.show{
  display: flex;
  flex-direction: column;
}
a {
  color: #3CF;
  text-decoration: none !important;
}
/* Header */
.main-header{
  background-color: rgba(22,34,57,0.95);
  height: var(--headerfoterh);
  z-index: 12;
  width: 100%;
  top: 0;
  border-bottom:thin solid #0399FF;

  position: fixed;
  display:flex;
  justify-content: space-between;
  align-items: center;



}
.main-header img{
  padding-right:7px;
}
.hamburger{

  cursor: pointer;
  font-size: 30px;
  color: #ffff;
  position:absolute;
  right:0;
  width:35px;
  top:8px;
  z-index: 2;

}
.damburger{
  position:fixed;
  top:calc(var(--headerfoterh) + 8px);
  left:0;
  transform:rotate(180deg) translateX(40px) ;
  width:35px;
  transition:.5s;




}
.show-damburger{
  display:block;
  transform:rotate(180deg) translateX(0px) ;
  transition:.5s;
}

.main-header .logo {
  /*float: left;*/
  line-height: 60px;
  padding-left: 20px;

}

.main-header .logo a {
  font-size: 31px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
}
.logo-image{
  width:  60px;
  height: 60px;
}
.main-header .logo a em {
  font-style: normal;
  color: #0399FF;
  display: flex;
  letter-spacing:1px;
}
.main-nav{

}
.main-menu li {
  display: inline-block;


  position: relative;
}
.main-menu li a {
  padding: 10px 15px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #fff;
  border: 2px solid transparent;
  transition: all 0.5s;
  cursor: pointer;
}

.main-menu li.has-submenu a:after {
  content: '\f107';
  font-family: "FontAwesome", serif;
  margin-left: 5px;
}

.main-menu li.has-submenu ul li a:after {
  display: none;
}

.main-menu li .sub-menu {
  position: absolute;
  width: 100%;
  background-color: #18233a;

  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.main-menu li:hover .sub-menu {
  opacity: 1;
  visibility: visible;


}

.main-menu li .sub-menu li {
  display: block;
  line-height: 20px;
  margin-left: 0;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #121b2f;
}

.main-menu li .sub-menu li:first-child {
  padding-top: 15px;
}

.main-menu li .sub-menu li:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.main-menu li .sub-menu li a {
  font-size: 12px;
  font-weight: 500;
  padding: 0 15px;
  letter-spacing: 1px;
  border: none;
  transition: all 0.5s;
}
/*sidebar submenu*/
.left-nav{
  padding: 5px 18px 18px;
  list-style: none;
}
.left-nav li.has-left-sub-menu  a:after {
  content: '\f107';
  font-family: "FontAwesome", serif;
  margin-left: 5px;
}

.left-nav li.has-left-sub-menu ul li a:after {
  display: none;
}
.left-menu{
  list-style:none;
  padding: 4px 0 0;
}
.left-menu a{
  font-size: 15px;
  color:#fff;
  padding:0 8px;
  cursor: pointer;
}
.left-sub-menu{
  list-style: none;
  color:#fff;
  height:0;
  overflow:hidden;
  background:#0c1228;
  margin-top:4px;
  border-radius:6px;
  transition:.5s;
}

.left-sub-menu-show{
  height:auto;
  padding-left:4px;
  transition:.5s;
  margin-left:10px;

}
.has-left-sub-menu li{

}
.left-sub-menu li a{
  color:#fff;
  display: inline-block;
  padding:4px 0;
}
/*hamburger-icon*/


.sub-icon{
  top: 16px;
  left:18px;
  cursor: pointer;
  font-size: 17px;
  color: #0399FF !important;
  margin-right: 4px;
}
.color-icon{
  color:#0399FF;
  transition:.5s;
}

.icon-style{
  padding: 0;
  margin-right: 8px;
  color: #fff;
}
@media only screen and (max-width : 767px){
  .userName{
    display: none;
  }
  .sub-menu{
    min-width:100px;
    right:0;
    top:40px;
    text-align:center;
  }
}
