<header class="main-header">

  <div class="logo">
    <a><em><img class="logo-image" src="assets/images/logo.png" alt="Submit" >
      OEMS</em></a>
  </div>
  <nav id="menu" class="main-nav" role="navigation">
    <ul class="main-menu">
      <li class="has-submenu"><i class="fa fa-user" aria-hidden="true"></i><a > <span class = "userName">{{username}}</span> </a>
        <ul class="sub-menu" >
          <li><a routerLink='not-assign-yet' fragment='not-assign'>Profile</a></li>
          <li><a routerLink='login' (click)= "logOut()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<div class="container">
  <div class="{{sidebarOpened ? 'show-sidebar sidebar': 'sidebar'}}">
    <img src="assets/images/hamburger.svg" alt="<"  class="hamburger" (click)="toggleSidebar()">
    <div class="{{sidebarOpened ? 'sidebar-wrapper show-sidebar-wrapper': 'sidebar-wrapper'}}">
      <div>

        <nav class="left-nav" role="navigation">
        <ul class= "left-menu">
          <li ><a routerLink="board"><span class="material-icons icon-style">dashboard</span>Dashboard</a></li>
        </ul>
        <ul class= "left-menu" >
          <li class="has-left-sub-menu"><a (click) = "enableSubMenu(); li1 = !li1"><span class="material-icons icon-style">group</span>Teacher List</a>
            <ul class="{{li1 ? 'left-sub-menu-show left-sub-menu': 'left-sub-menu'}}" >
              <li><a routerLink='present-teacher'><span class="material-icons icon-style sub-icon">group</span>Present Teacher's</a></li>
              <li><a routerLink='pending-teachers'><span class='material-icons icon-style sub-icon'>person_add_alt</span>Pending Teachers</a></li>
            </ul>
          </li>
        </ul>
        <ul class= "left-menu" >
          <li class="has-left-sub-menu"><a (click) = "enableSubMenu(); li2 = !li2"><span class='material-icons icon-style'>groups</span>Student List</a>
            <ul class="{{li2 ? 'left-sub-menu-show left-sub-menu': 'left-sub-menu'}}" >
              <li><a routerLink='my-students'><span class='material-icons icon-style sub-icon'>people_outline</span>My Students</a></li>
              <li><a routerLink='all-students' fragment='not-assign'><span class='material-icons icon-style sub-icon'>groups</span>All Students</a></li>
              <li><a routerLink='pending-students'><span class='material-icons icon-style sub-icon'>person_add_alt</span>Pending Student</a></li>
            </ul>
          </li>
        </ul>
        <ul class= "left-menu">
          <li ><a routerLink="add-department"><span class="material-icons icon-style">add_box</span>Add department</a></li>
        </ul>
        <ul class= "left-menu">
          <li ><a routerLink="shift-semester"><span class="material-icons icon-style">add_moderator</span>Change Semester</a></li>
        </ul>

        <ul class= "left-menu" >
          <li class="has-left-sub-menu"><a (click) = "enableSubMenu(); li3 = !li3"><span class='material-icons icon-style'>school</span>Course</a>
            <ul class="{{li3 ? 'left-sub-menu-show left-sub-menu': 'left-sub-menu'}}" >
              <li><a routerLink='not-assign-yet' fragment='not-assign'><span class='material-icons icon-style sub-icon'>checklist</span>My Courses</a></li>
              <li><a routerLink='all-courses' fragment='not-assign'><span class='material-icons icon-style sub-icon'>view_list</span>All Course List</a></li>
              <li><a routerLink='add-course'><span class='material-icons icon-style sub-icon'>playlist_add</span>Add course</a></li>
              <li><a routerLink='add-course'><span class='material-icons icon-style sub-icon'>card_giftcard</span>Assign Teacher</a></li>
            </ul>
          </li>
        </ul>
        <ul class= "left-menu" >
          <li class="has-left-sub-menu"><a (click) = "enableSubMenu(); li4 = !li4"><span class='material-icons icon-style'>history_edu</span>Question</a>
            <ul class="{{li4 ? 'left-sub-menu-show left-sub-menu': 'left-sub-menu'}}" >
              <li><a routerLink='not-assign-yet' fragment='not-assign'><span class='material-icons icon-style sub-icon'>post_add</span>Make Question</a></li>
              <li><a routerLink='not-assign-yet' fragment='not-assign'><span class='material-icons icon-style sub-icon'>library_books</span>My Question List</a></li>
              <li><a routerLink='login'><span class='material-icons icon-style sub-icon'>elevator</span>Students of X Exam</a></li>
            </ul>
          </li>
        </ul>
        <ul class= "left-menu" >
          <li class="has-left-sub-menu"><a (click) = "enableSubMenu(); li5 = !li5"><span class='material-icons icon-style'>verified</span>Result</a>
            <ul class="{{li5 ? 'left-sub-menu-show left-sub-menu': 'left-sub-menu'}}" >
              <li><a routerLink='not-assign-yet' fragment='not-assign'><span class='material-icons icon-style sub-icon'>description</span>Examine AnswerScript</a></li>
              <li><a routerLink='not-assign-yet' fragment='not-assign'><span class='material-icons icon-style sub-icon'>check_circle</span>Assign Grade</a></li>
              <li><a routerLink='login'><span class='material-icons icon-style sub-icon'>pending_actions</span>Pending Result</a></li>
            </ul>
          </li>
        </ul>
        <ul class= "left-menu">
          <li ><a><span class="material-icons icon-style">add_moderator</span>Review</a></li>
        </ul>



      </nav>
      </div>
    </div>

  </div>
  <div class=" {{sidebarOpened ? 'no-padding right-body': 'right-body'}}">
    <router-outlet></router-outlet>
  </div>

  <img src="assets/images/hamburger.svg" alt="<" class= "{{sidebarOpened ? 'show-damburger damburger': ' damburger'}}" (click)="toggleSidebar()">



</div>
