<!--header-->
<header class="main-header" role="header">
    <div class="logo">
      <a routerLink="home"><em><img class="logo-image" src="../assets/images/logo.png" alt="Submit" width="75" height="75">
         OEMS</em></a>
    </div>
    <nav id="menu" class="main-nav" role="navigation">
      <i class="fa fa-bars hamburger" aria-hidden="true" ></i>
      <ul class="main-menu">
        <li><a routerLink='home' fragment="top">Home</a></li>
        <li class="has-submenu"><a>About Us</a>
          <ul class="sub-menu" >
            <li><a routerLink='home' fragment='section2'>About OEMS</a></li>
            <li><a routerLink='home' fragment='section3'>Developer</a></li>
          </ul>
        </li>
        <li><a href="public-dashboard/faq">FAQ</a></li>
        <li><a a routerLink='home' fragment='section4'>Contact</a></li>
        <li><a href="public-dashboard/t&c" >T&C</a></li>
      </ul>
    </nav>
</header>

  <router-outlet></router-outlet>
