<body>
<mat-card>
  <mat-card-title>Login Here</mat-card-title>
  <mat-card-content>
    <form class="example-form" #thisFormType = "ngForm" (submit)="checkValidate(thisFormType)">
      <mat-form-field class="example-full-width">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="Your Username" ngModel required name = "username">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input  type='Password' matInput placeholder="Your Password" name = "password" ngModel required>
      </mat-form-field>
      <button mat-raised-button color="primary" type='submit' style="margin: 5px;">Log in</button>
      <button mat-raised-button color="accent" (click)="goToRegPage()">Register</button>
    </form>
  </mat-card-content>
</mat-card>
<div class = "temp-info">
  <div class = "info">
    <h2>For Checking Admin mode </h2>
    <h4>UserName:6118194069</h4>
    <h4>Password:7382</h4>
  </div>

  <div class = "info">
    <h2>For Checking Teacher mode </h2>
    <h4>UserName:6118194065</h4>
    <h4>Password:7238</h4>
  </div>

  <div class = "info">
    <h2>For Checking Student mode </h2>
    <h4>UserName:6118194051</h4>
    <h4>Password:2345</h4>
  </div>
</div>
</body>
