.ng-star-inserted{
  width: 100%;
}

mat-card{
  background-color: #0c1228;
  margin: 0 auto;
  width: fit-content;
  opacity: 90%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-card-title{
  color: white;
  padding-bottom: 20px;
}
mat-label{
  color: #0c1228;
}
button{
  width: 48%;
  display: inline-block;
}
body{
  padding-top: 130px;
  background-image: url(../../../../assets/images/choosing-bg.jpg);
  height: auto;
  min-height: 75%;
}
.temp-info{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  justify-content: center;
  margin-top: 20px;
  color: #fff8dc;
}
.temp-info .info{
  background-color: #0c1228;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.temp-info .info h2{
  text-transform: uppercase;
}
