table {
  width: 100%;
}
mat-cell{
  word-break: break-all;
  color: var(--themcolor);
}
.color-show{
  background-image: linear-gradient(#d1ecf1, #F0f8fb);
}
.title-color-show{
  background-image: linear-gradient(#03204c, #035c96);
}
mat-header-cell{
  color: #80bdff;
}
