<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <title>Online Exam Management System</title>
  </head>
<router-outlet></router-outlet>
<body>
  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">

      <img src="../assets/images/courses-video.png" width="100%">

      <div class="video-overlay header-text">
          <div class="caption">
              <h6>online Exam Management System</h6>
              <h2><em>Prepare</em> Yourself</h2>
              <div class="main-button">
                  <div class="scroll-to-section"><a href="public-dashboard/login">Log in</a>
                                                <a href="public-dashboard/register-student">Register</a></div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->


  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="features-post">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="dept"></i>All Department</h4>
              </div>
              <div class="content-hide">
                <p>&#x2022;Computer Science<br>&#x2022;Business Studies<br>&#x2022;Low and Justies<br>&#x2022;Mathematics<br>&#x2022;English</p>
                <p class="hidden-sm">&#x2022;Computer Science<br>&#x2022;Business Studies<br>&#x2022;Low and Justies<br>&#x2022;Mathematics<br>&#x2022;English</p>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post second-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="topFeature"></i>Features</h4>
              </div>
              <div class="content-hide">
                <p>Online MCQ and Form based Exam, Review facilities, request for new courses, Personal dashboard.</p>
                <p class="hidden-sm">Online MCQ and Form based Exam, Review facilities, request for new courses, Personal dashboard.</p>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post third-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="quote"></i>Todays Quote</h4>
              </div>
              <div class="content-hide">
                <p>"Some of the brightest minds in the country can be found on the last branches of the classroom."<br><em>-Dr. APJ Abdul Kalam</em></p>
                <p class="hidden-sm">"Some of the brightest minds in the country can be found on the last branches of the classroom."<br><em>-Dr. APJ Abdul Kalam</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section why-us" id="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Why You Use Our Online Exam Management System?</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div id='tabs'>
            <ul>
              <li><a href='#tabs-1' >Qualified Teacher's</a></li>
              <li><a href='#tabs-2'>Best Judge Panel</a></li>
              <li><a href='#tabs-3'>Student Friendly Interface</a></li>
            </ul>
            <section class='tabs-content'>
              <article id='tabs-1' >
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/choose-us-image-01.jpg" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Qualified Teacher's</h4>
                    <p>You will find here world class top qualified teacher from DU, BUET, JU. They have curiosity.This curiosity leads to an awareness of the challenges facing students in their own communities - especially those communities that are vulnerable in nature.</p>
                  </div>
                </div>
              </article>
              <article id='tabs-2'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/choose-us-image-02.png" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Best Judge Panel</h4>
                    <p>A best judge pannel can give you the the perfect result.For this reason we use best judge panel. So that you can get best accurate result. <br> Also their have fecility to request for <a href="">re-judge</a> of your result. We think never you use that because we ar perfect.</p>
                  </div>
                </div>
              </article>
              <article id='tabs-3'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/choose-us-image-03.png" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Student Friendly Interface</h4>
                    <p>Your did not have any tension to learn this system from sketch. It will very friendly environment to learn full of its features. It will offer you very smooth and fast respond feature.</p>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section video" id="section3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="left-content">
            <span></span>
            <h4>Behind of the project<br><em>Who spend their valuable time</em></h4>

            <br>
            <div>
              <img style="float: left; padding:8px;" src="https://scontent.fdac7-1.fna.fbcdn.net/v/t39.30808-6/309678270_4146596015565800_7623435530379665711_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeG6ZBq6PgSGzzStY5JMxCMIIlOKhGn_1agiU4qEaf_VqIt3_gFYytKiPbe67VaFQdETl1PrgpZJDsuWhGI_zdMY&_nc_ohc=kOXWfdpFqIoAX8fuFYn&_nc_oc=AQlS8v0jgmbDs7Fy-O0ma_gr_oud2AAIOUsqzF39-6YEfIDnjBm5_K3d5x-7QMBVfTc&_nc_ht=scontent.fdac7-1.fna&oh=00_AfAAAYo5GuKVm583sI24BWnoTOCgNis006YnlNQG0vb2VQ&oe=63B02F94" alt="" width="100" height="100">

              <h5><a href="https://www.linkedin.com/in/bindanabendu/" target="_blank" rel="noopener noreferrer">Nabendu Bikash Binda</a></h5>
              <p>Student at Department of CSE, SEU <br> Competitive Programmer<br> Problem Solver</p><br>
            </div>
            <div>
              <img style="float: left; padding:8px;" src="https://scontent.fdac7-1.fna.fbcdn.net/v/t39.30808-1/313345198_3306731552925941_5704445586028302330_n.jpg?stp=dst-jpg_s320x320&_nc_cat=100&ccb=1-7&_nc_sid=7206a8&_nc_eui2=AeHHepvRvar3f3psHF3eC1XfRjsqRRpvV3hGOypFGm9XeA3ou1YV0pdgT2BXc4A7328hpjSY-cUdLpIQ_dy0DBNN&_nc_ohc=8K82un4uC94AX8_vHR0&_nc_oc=AQmMfRfcY8L8qLdwx967xYGy8ubKr4xNSYQL6kDaCA_cZ6Fh6dY0JZFmYC40pWEgvog&_nc_ht=scontent.fdac7-1.fna&oh=00_AfBV4J0H1ZP-35D23VG3_ZgOQGv6-A6DIjiN0hf-iuj_4g&oe=63B1AA5E" alt="" width="100" height="100">

              <h5><a href="https://www.linkedin.com/in/sourav-das-9b988923a/" target="_blank" rel="noopener noreferrer">Sourav Das</a></h5>
              <p>Student at Department of CSE, SEU<br>ML Expert</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <article class="video-item">
            <div class="video-caption">
              <h4>Friendship Forever</h4>
            </div>
            <figure>
              <a href="https://www.youtube.com/watch?v=r9LtOG6pNUw" class="play"><img src="assets/images/main-thumb.png"></a>
            </figure>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="section contact" id="section4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Use This Massage Box to contact with us</h2>
            <h2>OR</h2>
            <h2>admins.oems@gmail.com</h2>
          </div>

        </div>
        <div class="col-md-6">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-md-6">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                  </fieldset>
                </div>
              <div class="col-md-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Send Message Now</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6"  >
          <div id="map" style="color:white;text-align: right;">
            <h3>Development Language:</h3>
            <br>
            <h5>Front End Build with:</h5>
            <p>Angular, Html, CSS, JavaScript</p>
            <br>
            <h5>Backend Built with:</h5>
            <p>Java, Spring Boot, Thymeleaf, JDBC,<br> JWT, Spring Security, restfull API's,<br>maintain MVC design pattern</p>
            <br>
            <h5>Databases:</h5>
            <p>MYSQL</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><i class="fa fa-copyright"></i> Copyright 2022 by OEMS Team </p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
